.sidenav{
    background-color: #FFF;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    width: 200px;
}

.sidenav a {
    
}

.sidenav i {
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #FFF ;
}